

<!--based on youtube video-->
<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar class="ion-padding">
    <ion-icon name="arrow-back" slot="start" (click)="navigateBuddyListToGBHome()"></ion-icon>
    <ion-title>Chattie</ion-title>
    <ion-icon name="ios-camera-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabs ion-padding">
    <ion-segment value="chats" (ionChange) = "segmentChange($event)">
      <ion-segment-button value="chats">
        <ion-label>Chats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="status">
        <ion-label>Status</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="chat-list" *ngIf="activeTab === 'chats'">
    <div class="recent-chats ion-padding">
      <div class="heading">
        <h1>All Chats</h1>
        <ion-icon name="search-sharp"></ion-icon>
      </div>
      <div class="chats">
        <ion-item lines="none" *ngFor="let eachChat of getChatNameAndMessagesMap | keyvalue" (click)="navigateBuddyListToChat(eachChat.key,eachChat.value[1],eachChat.value[2])">
          <ion-avatar slot="start">
            <img src = "https://media-exp1.licdn.com/dms/image/C5603AQF9ARlKu4OEnQ/profile-displayphoto-shrink_800_800/0/1645845891083?e=1654128000&v=beta&t=XZy_KCUHo-LgpdfjL1LWmQ18jOfv_IGtr1pKskaCBhA" alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>{{eachChat.key}}</h2>
            <p>{{eachChat.value[0]}}</p>
          </ion-label>
          <div *ngIf="isNewChat(eachChat.value[0]) === true" class="info-div">
            <ion-badge>NEW</ion-badge>
            <p></p>
          </div>
          <div *ngIf="isNewChat(eachChat.value[0]) === false" class="info-div">
            <ion-icon name="checkmark-done-outline"></ion-icon>
            <p>{{eachChat.value[3]}}</p>
          </div>
        </ion-item>
      </div>
    </div>
  </div>
    <ion-fab-button>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-fab-button>
</ion-content>
