<ion-header>
  <ion-toolbar>
    <ion-title>gb-chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>


<!--
  <ng-container *ngIf="chat$ | async as chat">

    <div class="top">
      <p>
          https://firestore-megachat.firebaseapp.com/chats/{{ chat.id }}
      </p>
    </div>


    <div class="chat">


      <div class="msg" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

        <div class="user">
          <img [src]="msg.user?.photoURL">
          <div>{{ msg.user?.displayName }}</span></div>
        </div>

        <p>{{ msg.content }}</p>

      </div>

    </div>

    <div class="form">
      <input [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">

      <button (click)="submit(chat.id)">Send</button>
    </div>

</ng-container>
-->


<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Display the other username.</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="navigateChatPageToBuddyListPage()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <!--
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">
      <ion-col size="9" class="message"
        [offset]="message.myMsg ? 3 : 0"
        [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
        <b>{{ message.fromName }}</b><br>
        <span>{{ message.msg }}
        </span>
        <div class="time ion-text-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
 -->
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
