<ion-content>
  <div class="header ion-padding">
    <div class="info">
      <ion-icon name="chevron-back-outline" (click)="navigateChatPageToBuddyListPage()"></ion-icon>
      <ion-avatar>
        <img src = {{getSelectedChatBuddyProfilePicture()}} alt="">
        <!-- <img src="https://media-exp1.licdn.com/dms/image/C5603AQF9ARlKu4OEnQ/profile-displayphoto-shrink_800_800/0/1645845891083?e=1654128000&v=beta&t=XZy_KCUHo-LgpdfjL1LWmQ18jOfv_IGtr1pKskaCBhA" alt=""> -->
      </ion-avatar>
      <span class="details">
        <h1>{{getSelectedChatBuddyName()}}</h1>
        <!-- <h1>Bryan Leow</h1> -->
        <p>Hitting the gym</p>
      </span>
    </div>
    <div class="share-workout">
      <!-- think of adding a button here to share workout.-->
      <!--(click)="shareWorkout()"-->
      <ion-icon name="share-social-outline" (click)="openShareModal()"></ion-icon>
    </div>
    <!--(click)="removeMatch()"-->
    <div class = "delete">
      <!-- <ion-icon name="trash-outline" (click)="openTransparentModal()"></ion-icon> -->
      <ion-icon name="trash-outline" (click)="openDeleteModal()"></ion-icon>
      <p *ngIf="modalDataResponse">{{modalDataResponse}}</p>
    </div>
  </div>
  <div class="conversation ion-padding">
    <div class="chat-section" id="chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="chat" *ngFor="let message of allChatMessages | async">
      <!-- <div class="chat"> -->
        <!--*ngIf="item.messageText === myVar" class="bordered"-->
        <div *ngIf="isSentByMe(message.fromId) === false" class="yours messages">
          <div *ngIf="isNotLastMessageSentByOther(message.fromId, message.isRead) === true" class="message other">
            {{message.message}}
          </div>
          <!-- <div class="message other">
            You there?
          </div> -->
          <div *ngIf="isLastMessageSentByOther(message.fromId, message.isRead) === true" class="last-message-other">
            <ion-avatar>
              <img src={{getSelectedChatBuddyProfilePicture()}} alt="">
            </ion-avatar>
            <div *ngIf="isLastMessageSentByOther(message.fromId, message.isRead) === true" class="message last">
              {{message.message}}
            </div>
          </div>
          <span>{{ message.timeSent?.toMillis() | date:'shortTime' }}</span>
        </div>
        <div *ngIf="isSentByMe(message.fromId) === true" class ="mine messages">
          <div *ngIf="isNotLastMessageSentByMe(message.fromId, message.isRead) === true" class="message">
            {{message.message}}
          </div>
          <div *ngIf="isLastMessageSentByMe(message.fromId, message.isRead) === true" class="message last">
            {{message.message}}
          </div>
          <span>
            <ion-icon name = "checkmark-done-outline"></ion-icon>{{ message.timeSent?.toMillis() | date:'shortTime' }}
          </span>
        </div>
      </div>
    </div>
    <div class="message-input">
      <ion-input placeholder="Say something nice..." [(ngModel)]="newMessage" autoGrow="true"
      rows="1" maxLength="500"></ion-input> <!-- [(ngModel)]="newMessage" autoGrow="true"
        rows="1" maxLength="500"  -->
      <div class="send-button">
        <!-- <ion-button icon-only (click)="sendMessage()" [disabled]="newMessage === ''"></ion-button> -->
        <ion-icon name="send-sharp" (click)="sendMessage()"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

<!--
<ion-content>
  <div class="header ion-padding">
    <div class="info">
      <ion-icon name="chevron-back-outline" (click)="navigateChatPageToBuddyListPage()"></ion-icon>
      <ion-avatar>
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQF9ARlKu4OEnQ/profile-displayphoto-shrink_800_800/0/1645845891083?e=1654128000&v=beta&t=XZy_KCUHo-LgpdfjL1LWmQ18jOfv_IGtr1pKskaCBhA" alt="">
      </ion-avatar>
      <span class="details">
        <h1>{{getSelectedChatBuddyName()}}</h1>
        <p>Hitting the gym</p>
      </span>
    </div>
    <div class="share-workout">
      <ion-icon name="american-football-outline"></ion-icon>
    </div>
  </div>
  <div class="conversation ion-padding">
    <div class="chat-section" id="chat">
      <div class="chat">
        <div class="your messages">
          <div class="message-other">
            Hey
          </div>
          <div class="last-message-other">
            <ion-avatar>
              <img src="https://media-exp1.licdn.com/dms/image/C5603AQF9ARlKu4OEnQ/profile-displayphoto-shrink_800_800/0/1645845891083?e=1654128000&v=beta&t=XZy_KCUHo-LgpdfjL1LWmQ18jOfv_IGtr1pKskaCBhA" alt="">
            </ion-avatar>
            <div class="message last">
              Hello how's going?
            </div>
          </div>
          <span>1:4pm</span>
        </div>
        <div class ="mine messages">
          <div class="message">
            great thanks!
          </div>
          <span>
            <ion-icon name = "checkmark-done-outline"></ion-icon>1.44pm
          </span>
        </div>
      </div>
    </div>
    <div class="message input">
      <ion-input placeholder="Type your message..."
          [(ngModel)]="newMessage" autoGrow="true"
          rows="1" maxLength="500"></ion-input>
      <div class="send-button">
        <ion-button (click)="sendMessage()" [disabled]="newMessage === ''"></ion-button>
        <ion-icon name="send-sharp"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
-->

<!--
<ion-header>
  <ion-toolbar>
    <ion-title>gb-chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->

<!--
  <ng-container *ngIf="chat$ | async as chat">

    <div class="top">
      <p>
          https://firestore-megachat.firebaseapp.com/chats/{{ chat.id }}
      </p>
    </div>


    <div class="chat">


      <div class="msg" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

        <div class="user">
          <img [src]="msg.user?.photoURL">
          <div>{{ msg.user?.displayName }}</span></div>
        </div>

        <p>{{ msg.content }}</p>

      </div>

    </div>

    <div class="form">
      <input [(ngModel)]="newMsg" (keydown.enter)="submit(chat.id)">

      <button (click)="submit(chat.id)">Send</button>
    </div>

</ng-container>
-->

<!-- starts from here the OG.-->
<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{getSelectedChatBuddyName()}}</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="navigateChatPageToBuddyListPage()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-grid class="conversation">
    <ion-row *ngFor="let message of allChatMessages | async">
      <ion-col size="9" class="message"
        [offset]="isMyMessage(message.fromId) ? 3 : 0"
        [ngClass]="getUserClass(message.fromId)">
        <b>{{ message.fromId }}</b><br>
        <span>{{ message.message }}
        </span>
        <div class="time ion-text-right"><br>{{ message.timeSent?.toMillis() | date:'short' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-textarea autoGrow="true" class="message-input" rows="1"
         maxLength="500" [(ngModel)]="newMessage"
         placeholder="Type your message here..." >
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMessage === ''"
          class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
