<ion-header>
  <ion-toolbar>
    <ion-title>gb-findbuddy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Find a Gym Buddy</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card ng-controller="appcontrol">
    <div class="flip-container" ng-click="flip = !flip" ng-class="{'flip': flip}">
      <div class="flipper">
        <div class="front">
          <img src={{getProfilePicture}} alt="ion">
        </div>
        <div class="back">
          <p>{{getMoreGymBuddyInformation}}</p>
        </div>
      </div>
    </div>
    <ion-card-header>
      <ion-card-title>{{getFullName}}, {{getAge}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{getBriefIntro}}
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button name="matchButton" (click)="matchBuddy()" >
            <ion-icon name="checkmark-circle-outline" size="large" color="success" ></ion-icon>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button name="unmatchButton" (click)="unmatchBuddy()">
            <ion-icon name="close-circle-outline" size="large" color="danger" ></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
