.matchList {
  margin: auto;
  display: block;
  position: absolute;


  width: 95%;


  overflow: scroll;
  border-radius: 30px 30px 30px 30px;
  .basic-info {
    border-radius: 30px 30px 5px 5px;
  }
  ion-button {
    position: absolute;
    z-index: 2;
    margin: 1px;
    font-size: 1.7rem;
    border-radius: 15px;
    ion-icon{
      font-size: 16px
    }
  }
  .basic-info {
    display: flex;
    flex-direction: column;
    h1,p{
      margin: 0 0 5px 0;
    }
    p{
      font-size: 1rem;
      color: #504b4b;
      i{
        color: #ef94d7;
        margin-right:5px;
      }
    }
    h1{
      font-size: 1.3rem;
      font-weight: 900;
    }
  }
  .about-me{
    h5,p{
      margin: 0 0 10px 0;
    }
    h5{
      font-weight: 800;
      margin-bottom: 5px;
    }
  }
  .pref-workout-time{
    h5{
      font-weight: 800;
      margin-bottom: 5px;
    }
    ion-chip{
      margin-bottom: 5px;
    }
  }
  .goals{
    h5{
      font-weight: 800;
      margin-bottom: 5px;
    }
    ion-chip{
      margin-bottom: 5px;
    }
  }
  .traits{
    h5{
      font-weight: 800;
      margin-bottom: 5px;
    }
    ion-chip{
      margin-bottom: 5px;
    }
  }
  .style{
    h5{
      font-weight: 800;
      margin-bottom: 5px;
    }
    ion-chip{
      margin-bottom: 5px;
    }
  }
  .location{
    h5{
      font-weight: 800;
      margin-bottom: 5px;
    }
    ion-chip{
      margin-bottom: 5px;
    }
  }
}

img {
  position: relative;
  height: 250px;
  width: 100%;
}



