<ion-header>
  <!-- <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <swiper (swiper)="setSwiperInstance($event)" [allowTouchMove]="false">
    <!-- Slide 1 -->
    <ng-template swiperSlide>
      <div class="slider1">
        <ion-grid class="slide-intro-1">
          <ion-row>
            <ion-col size="12">
              <h1>TRANSFORM YOUR BODY</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Take control of your fitness and health with just a simple click</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="next()" color="dark" fill="solid" expand="block">Next </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>

    <!-- Slide 2 -->
    <ng-template swiperSlide class="slider2">
      <div class="slider2">
        <ion-grid class="slide-intro-2">
          <ion-row>
            <ion-col size="12">
              <h1>UNIQUE WORKOUTS</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Curated workouts just for you and your body</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="start()" color="dark" fill="solid" expand="block">LETS GOOOO </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </swiper>
</ion-content>
