<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToWorkout()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>EDIT WORKOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="workoutDetails">
  <form (ngSubmit)="updateWorkoutDetails()" [formGroup]="userWorkoutUpdates">
    <ion-input formControlName="wName" value="{{workoutDetails.wName}}"> </ion-input>
    <ion-input formControlName="wDesc" value="{{workoutDetails.wDescription}}"></ion-input>

    <div *ngFor="let e of workoutDetails.workoutRoutine; let i = index" class="workout-update">
      <ion-card (click)="editExercise(i)">
        <ion-card-content>
          <ion-item class="ion-margin-bottom" lines="none">
            <ion-label position="stacked">{{e.exerciseName}}</ion-label>
            <div class="input-align">
              <div *ngFor="let set of counter(e.sets.sets); let i = index" class="set">
                <h3>Set {{i+1}} </h3>
                <h3>{{e.sets.reps}} Reps </h3>
              </div>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </div>
    <ion-button expand="block" color="dark" (click)="updateWorkoutDetails()"> Save Workout </ion-button>
  </form>
</ion-content>
