h2{
    font-weight: bold;
    padding:20px 30px;
    text-align: center;
}

h4{
    padding:20px 30px;
    text-align: center;
}

// ion-card {
//     width: 100%;
//     height: 100%;
//     border-radius: 12px;
// }

.input-align{
    display:flex;
    width:100%;
}

// div.set {
//     width: 100%;
//     display: inline-grid;
//     grid-template-columns: 100px 100px 100px;
//     column-gap: 10px;
//     row-gap: 10px;
//   }

  div.set {
    //   width: 100%;
      background-color: var(--ion-color-dark);
      color: white;
      margin: 5px;
      padding: 10px;
      border-radius: 15%;
      height: 100px;
    }
// .set{
//     background-color: var(--ion-color-dark);
//     color:white;
//     padding: 5%;
//     // border-radius: 25px;
//     // margin: 65px;
//     width: 50px; 
//     height: 50px;
//     text-align: center;
// }

// ion-label{
//     font-weight: bold;
//     font-size: large;
// }