div.timer-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



div.timer{
    display: flex;
    flex-direction: column;
    margin:10px;
}

div.workout-section h2{
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
}

