ion-card{
    box-shadow: none !important;
}

.text-label{
    font-weight: bold;
    text-transform: uppercase;
}

.text-info-inline{
    font-size:10px;
    text-align: left;
}

.text-info-under{
    font-size:10px;
    text-align: left;
}

ion-radio-group{
    width:100%;
}
