div.set {
    //   width: 100%;
      background-color: var(--ion-color-dark);
      color: white;
      margin: 5px;
      padding: 10px;
      border-radius: 15%;
      height: 100px;
    }

h2{
   font-weight: bold;
    padding:20px 30px;
    text-align: center;
}

ion-card-title{
    font-weight: bold;
    font-size: medium;
}

.input-align{
    display:flex;
    width:100%;
}

div.value{
    color: var(--ion-color-secondary);
    font-weight: 600;
    text-align:right;
}