<ion-content>
  <div class="image">
    <!-- to get the correct image-->
    <i class="fi-rr-arrow-small-left">
      <ion-button color="light" slot="start" size="small" (click)="goToUpdateAcc()">
        <ion-icon icon-only name="settings-outline"></ion-icon>
      </ion-button>
      </i>
    <!-- <img src="https://media-exp1.licdn.com/dms/image/C5603AQF9ARlKu4OEnQ/profile-displayphoto-shrink_800_800/0/1645845891083?e=1654128000&v=beta&t=XZy_KCUHo-LgpdfjL1LWmQ18jOfv_IGtr1pKskaCBhA" alt="">-->
    <img src= {{getProfilePicture}} alt="">
  </div>
  <div class="profile-info">
    <div class="user-info">
      <div class="basic-info">
        <!-- to get the correct age-->
        <h1>{{getFullName}}, {{getAge}}</h1>
        <p>
          <i class="fi-rr-location-alt"></i>
          <ion-icon name="location-outline"></ion-icon>
          Singapore
        </p>
        <div class="about-me">
          <h5>About me</h5>
          <p>
            {{getBriefIntro}}
          </p>
        </div>
        <!-- preferred workout time-->
        <div class="pref-workout-time">
          <h5>Preferred Workout Time</h5>
          <div class="pref-workout-time-list">
            <ion-chip *ngFor = "let time of getPrefWorkoutTime; let i=index"
                [ngStyle]="{'background-color': getColor(i)}">
              <ion-label>{{time}}</ion-label>
            </ion-chip>
          </div>
        </div>
        <!-- gym buddy goals-->
        <div class="goals">
          <h5>My goals</h5>
          <div class="goals list">
            <ion-chip *ngFor = "let goal of getGymBuddyGoals; let i=index"
                [ngStyle]="{'background-color': getColor(i+1)}">
              <ion-label>{{goal}}</ion-label>
            </ion-chip>
          </div>
        </div>
        <!-- Personal traits -->
        <div class="traits">
          <h5>My strengths</h5>
          <div class="traits-list">
            <ion-chip *ngFor = "let trait of getPersonalTraits; let i=index"
                [ngStyle]="{'background-color': getColor(i+2)}">
              <ion-label>{{trait}}</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button class = "find-buddy" shape="round" expand="block" color = "dark" (click)="goToFindBuddy()">
    <ion-icon name="search-outline"></ion-icon>
    FIND A BUDDY
  </ion-button>
  <ion-button class="chat-buddy" shape="round" expand="block" color = "dark" (click)="goToBuddyList()">
    <ion-icon name="chatbubbles-outline"></ion-icon>
    CHAT WITH BUDDIES
  </ion-button>
</ion-footer>



<!-- back up
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Gym Buddy</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-text-center">
    <ion-card-header size="large" style="font-size:20px">Your Profile</ion-card-header>
    <ion-card-content>
      <ion-item-divider style="text-align: center">
        <ion-text>
          {{getFullName}}
        </ion-text>
      </ion-item-divider>

      <ion-item-divider>
        <ion-text class="ion-text-center">
          {{getBriefIntro}}
        </ion-text>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item-divider>
        <ion-text>
          Preferred Workout Time: {{ getPrefWorkoutTime.join(", ")}}
        </ion-text>
      </ion-item-divider>
      <ion-item-divider>
        <ion-text>
          My goals: {{ getGymBuddyGoals.join(", ") }}
        </ion-text>
      </ion-item-divider>
      <ion-item-divider>
        <ion-text>
          Area of expertise: {{ getPersonalTraits.join(", ") }}
        </ion-text>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color = "dark" (click)="goToFindBuddy()">
    FIND A BUDDY
  </ion-button>
  <ion-button expand="block" color = "dark" (click)="goToBuddyList()">
    BUDDY LIST
  </ion-button>


</ion-content>
-->
