<ion-header class="ion-no-border">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<!-- Header -->
<ion-content>
  <div class="logo-header">
    <ion-img class="logo-img" src="../assets/logo/witfit-black.png"> </ion-img>
    <h2>WORKOUT SUMMARY</h2>
  </div>

  <!-- Workout Details -->
  <div *ngIf="workoutDetails && userDetails">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{workoutDetails.wName}}
        </ion-card-title>
        <ion-card-subtitle>
          {{getDate(workoutDetails.dateCompleted)}}
        </ion-card-subtitle>
      </ion-card-header>

      <!-- Workout Sets and Reps -->
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-align-self-center">
            <ion-col class="ion-align-self-center">
              <div>
                <h3 class="title"> Total Sets </h3>
                <p> {{getTotalSets(workoutDetails.workoutRoutine)}} </p>
              </div>

            </ion-col>
            <ion-col class="ion-align-self-center">
              <h3 class="title"> Total Reps </h3>
              <p> {{getTotalReps(workoutDetails.workoutRoutine)}} </p>
            </ion-col>

          <!-- Workout Calories and Duration -->
          </ion-row>
          <ion-row class="ion-align-self-center">
            <ion-col class="ion-align-self-center">
              <h3 class="title">Calories Burnt</h3>
              <p> {{ getCalories(workoutDetails, userDetails) }} </p>
            </ion-col>
            <ion-col class="ion-align-self-center">
              <h3 class="title">Duration </h3>
              <p> {{ getDuration(workoutDetails.stopwatch) }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Workout Fitness -->
        <div class="fitness">
          <h3 class="title">FITNESS</h3>
          <!-- <ion-progress-bar color="primary" value="0.5"></ion-progress-bar> -->
          <div class="animated-progress progress-fitness">
            <span [style.width.%]="fitnessVal"></span>
          </div>
        </div>

        <!-- Workout Strength -->
        <div class="strength">
          <h3 class="title">STRENGTH</h3>
          <!-- <ion-progress-bar color="primary" value="0.5"></ion-progress-bar> -->
          <div class="animated-progress progress-strength">
            <span [style.width.%]="strengthVal"></span>
          </div>
        </div>

        <!-- Workout Notes -->
        <form (ngSubmit)="workoutDone()" [formGroup]="workoutNotes">
          <h3 class="title">WORKOUT NOTES</h3>
          <ion-item class="workout-notes">
            <ion-textarea rows="6" placeholder="Enter any notes here..." formControlName="notes"></ion-textarea>
          </ion-item>

        <ion-button expand="block" color="dark" type="submit"> DONE </ion-button>
        </form>

      </ion-card-content>

    </ion-card>
  </div>


</ion-content>
