
ion-card{
    box-shadow: none !important;
}

ion-card-title, ion-card-subtitle{
  text-align: center;
}

ion-row{
  text-align: center;
  height: 80px;
}


h3.title {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .logo-img {
    width: 13%;
  }
  
  .animated-progress {
    width: 300px;
    height: 20px;
    border-radius: 25px;
    margin: 20px 10px;
    border: 1px solid rgb(109, 109, 109);
    overflow: hidden;
    position: relative;
  }
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
  
  .progress-fitness span {
    background-color: var(--ion-color-dark);
  }
  .progress-strength span {
    background-color: var(--ion-color-dark);
  }

  ion-item.workout-notes{
      border: 1px solid black;
  }