<!-- <ion-header>
  <ion-toolbar>
    <ion-title>user-details</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h2>We would like to know more about you</h2>
  <ion-progress-bar color="primary" value="{{progress}}"></ion-progress-bar>

  <swiper (swiper)="setSwiperInstance($event)" (slideChangeTransitionStart)="slideWillChange()"
    (slideChangeTransitionEnd)="slideDidChange()" [allowTouchMove]="false">

    <!--Height & Weight-->
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-content>
          <div class="parent">
            <div class="child1">
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">What is your height?</ion-label>
                <div class="input-align">
                  <ion-input type="number" placeholder=""></ion-input>
                  <span>CM</span>
                </div>
                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">What is your weight?</ion-label>
                <div class="input-align">
                  <ion-input type="number" placeholder=""></ion-input>
                  <span>KG</span>
                </div>
                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
            </div>
            <div class="child2">
              <ion-button expand="block" color="dark" (click)="nextPage()"> Next </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

    </ng-template>

    <!--Declaration of Injuries-->
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-content>
          <div class="parent">
            <div class="child1">
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">Any physical injuries?</ion-label>
                <ion-radio-group [(ngModel)]="something">
                  <ion-row>
                    <ion-col>
                         <ion-item lines="none">
                            <ion-label>Yes</ion-label>
                            <ion-radio mode="md" item-left value="yes"></ion-radio>
                       </ion-item>
                     </ion-col>
                
                    <ion-col>
                        <ion-item lines="none">
                            <ion-label>No</ion-label>
                            <ion-radio mode="md" item-left value="no"></ion-radio>
                       </ion-item>
                    </ion-col>
                </ion-row>
                </ion-radio-group>
                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked" text-wrap>Do you have pre-exisiting health conditions?</ion-label>
                <ion-radio-group [(ngModel)]="something">
                  <ion-row>
                    <ion-col>
                         <ion-item lines="none">
                            <ion-label>Yes</ion-label>
                            <ion-radio mode="md" item-left value="yes"></ion-radio>
                       </ion-item>
                     </ion-col>
                
                    <ion-col>
                        <ion-item lines="none">
                            <ion-label>No</ion-label>
                            <ion-radio mode="md" item-left value="no"></ion-radio>
                       </ion-item>
                    </ion-col>
                </ion-row>
                </ion-radio-group>
                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
            </div>
            <div class="child2">
              <ion-button expand="block" color="dark" (click)="nextPage()"> Next </ion-button>
            </div>
          </div>
        </ion-card-content>

      </ion-card>

    </ng-template>

    <!--Area of Injuries, if any-->
    <ng-template swiperSlide >
      <ion-card>
        <ion-card-content>
          <div class="parent">
            <div class="child1">
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">What is your injury?</ion-label>
                

                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">Area of injury</ion-label>
                
                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
            </div>
            <div class="child2">
              <ion-button expand="block" color="dark" (click)="nextPage()"> Next </ion-button>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
    </ng-template>

    <!--Pre-health conditions, if any-->
    <ng-template swiperSlide >
      <ion-card>
        <ion-card-content>
          <div class="parent">
            <div class="child1">
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">What exisiting health conditions do you have?</ion-label>
                
                <!-- <ion-note slot="error" *ngIf="firstName.dirty && firstName.errors">Enter first name</ion-note> -->
              </ion-item>
            </div>
            <div class="child2">
              <ion-button expand="block" color="dark" (click)="nextPage()"> Next </ion-button>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
    </ng-template>

    <!--Fitness goals-->
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-content>
          <div class="parent">
            <div class="child1">
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">What is your fitness goal?</ion-label>
                
              </ion-item>
              
            </div>
            <div class="child2">
              <ion-button expand="block" color="dark" (click)="nextPage()" *ngIf="gender=='female'"> Next </ion-button>
              <ion-button expand="block" color="dark" (click)="completeSignUp()" *ngIf="gender=='male' || gender=='others' "> Finish </ion-button>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
    </ng-template>

    <!--Menstruation cycle, for female gender-->
    <ng-template swiperSlide *ngIf="gender=='female'">
      <ion-card>
        <ion-card-content>
          <div class="parent">
            <div class="child1">
              <ion-item class="ion-margin-bottom" lines="none">
                <ion-label position="stacked">When was your last period?</ion-label>
                
              </ion-item>
              
            </div>
            <div class="child2">
              <ion-button expand="block" color="dark" (click)="completeSignUp()"> Finish </ion-button>
            </div>
          </div>
        </ion-card-content>

      </ion-card>
    </ng-template>
  </swiper>


</ion-content>
