

div.input-align{
    display:flex;
    align-items: center;

}

ion-card-title{
    font-size:15px;
    text-align: center;
}

ion-label{
    font-weight: bold;
}

ion-content{
    --background: transparent;
}

div.btn-grp{
    width:90%;
    margin: 0 auto;
}

a.period-date{
    color: var(--ion-color-secondary)
}

div.edit{
    width:100%;
    overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}