<script src="https://www.youtube.com/iframe_api"></script>

<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh2($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title slot="start" size="large"> {{ welcomeText }} </ion-title>
      <ion-button slot="end" (click)="doRefresh()">Refresh</ion-button>
    </ion-toolbar>
    <ion-toolbar mode="md">
      <ion-title size="small"> {{ today }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper #swiperStats [config] = "configStats"
  (slideChange) = "swiperSlideChanged($event)">
    <ng-template swiperSlide>
      <!--- <img src = '../../assets/placeholders/progress.png'> --->
      <ion-card>
        <ion-card-header>
          THIS WEEK'S PROGRESS
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <subheader class = "font">
                Calories<br/>
              </subheader>
              <ion-card-header>
                {{ cals }}
              </ion-card-header>
            </ion-col>
            <ion-col>
              <subheader class = "font">
                Total Duration<br/>
              </subheader>
              <ion-card-header>
                {{ durn }}
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" (click)="goStats()">
          See More
        </ion-button>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <!-- <img src = '../../assets/placeholders/schedule.png'> -->
        <ion-content echarts [options]="chartOptions"></ion-content>
    </ng-template>
  </swiper>
 
  <ion-card-header>
    RECOMMENDATIONS
    <ion-card-subtitle>
      {{ basedOnWorkout }}
    </ion-card-subtitle>
  </ion-card-header>

  <swiper #swiperYt [config] = "configYt">
    <ng-template swiperSlide *ngFor="let video of ytVideos">
      <ion-card>
        <!--<img src={{video.ThumbnailURL}}/><br>-->
        <iframe 
          width={{video.ThumbnailWidth}}
          height={{video.ThumbnailHeight}}
          [src]="video.URL | safe"></iframe><br>
        <subheader>
          {{ video.title }}
        </subheader>
      </ion-card>
    </ng-template>
  </swiper>

</ion-content>