@import '~swiper/swiper-bundle.css';

.swiper-slide {
    transition: 1000ms all ease-in-out
}

.ion-card {
    width:100%;
    height:160px;
    box-shadow: black;
    border-radius: 12px;
}

.ion-slides {
    border: double;
}