<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{ welcomeText }} </ion-title>
    </ion-toolbar>
    <ion-toolbar mode="md">
      <ion-title size="small"> {{ today }} </ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper #swiper [config] = "config"
  (slideChange) = "swiperSlideChanged($event)">
    <ng-template swiperSlide>
      <img src = '../../assets/placeholders/progress.png'>
    </ng-template>

    <ng-template swiperSlide>
      <img src = '../../assets/placeholders/schedule.png'>
    </ng-template>
  </swiper>

  <swiper #swiper [config] = "config"
  (slideChange) = "swiperSlideChanged($event)">
    <ng-template swiperSlide>
      <ion-card>
        <ion-card-header>
          THIS WEEK'S PROGRESS
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <stat-header class = "font">
                Calories<br/>
              </stat-header>
              <ion-card-header>
                {{ cals }}
              </ion-card-header>
            </ion-col>
            <ion-col>
              <stat-header class = "font">
                Total Duration<br/>
              </stat-header>
              <ion-card-header>
                {{ durn }}
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <img src = '../../assets/placeholders/schedule.png'>
    </ng-template>
  </swiper>

</ion-content>
