<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Homepage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{ welcomeText }} </ion-title>
    </ion-toolbar>
    <ion-toolbar mode="md">
      <ion-title size="small"> {{ today }} </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-slides [options] = "option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img src = "../../assets/placeholders/progress.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src = "../../assets/placeholders/schedule.png">
      </ion-card>
    </ion-slide>

  </ion-slides>


  <ion-content>
    <swiper #swiper [config] = "config">
      <ng-template swiperSlide>
        <img src = '../../assets/placeholders/progress.png'>
      </ng-template>
      <ng-template swiperSlide>
        <img src = '../../assets/placeholders/schedule.png'>
      </ng-template>
    </swiper>
  </ion-content>

</ion-content>
