<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>

<div style="height: 100%; display: flex; align-items: center; justify-content: center;" id="warmup" *ngIf="workoutSection === 'warmup'">
  <ion-card>
    <ion-card-header>
      <ion-card-title>WARM UP</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card>
        <iframe 
          width={{ytVideosWarm[1].ThumbnailWidth}}
          height={{ytVideosWarm[1].ThumbnailHeight}}
          [src]="ytVideosWarm[1].URL | safe">
        </iframe>
      </ion-card>
    </ion-card-content>
  </ion-card>
</div>

<div id="workout" *ngIf="workoutSection === 'exercise' && currentExercise">
  <ion-card>
    aaaa
    <script>
      window.onSpotifyWebPlaybackSDKReady = () => {
        // You can now initialize Spotify.Player and use the SDK
      };
      </script>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>EXERCISES {{exerciseIndex+1}} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <ion-card-title class="exercise-title"> {{ currentExercise.exerciseName }} </ion-card-title>

      <img src='{{currentExercise.images[0]}}' *ngIf="currentExercise.images.length > 0">

      <div *ngIf="currentExercise.images.length == 0" [innerHTML]='currentExercise.exerciseDesc'></div>

      <div class="sets">
        <div *ngFor="let e of workSets; let i = index" class="working-set">
          <div *ngIf="selectedSet != i || !setClick" (click)="deleteSet(i)">
            <p> SET {{ i+1 }}</p>
            <p> {{ e }} REPS </p>
          </div>
          <div *ngIf="selectedSet == i && workSets.length != 1" [hidden]="!setClick" class="delete-set" (click)="dismiss()">
            <ion-icon name="trash-outline" (click)="removeSet()"></ion-icon>
          </div>
        </div>

        <div class="add-set" (click)="addSet()">
          <ion-icon name="add-outline"></ion-icon>
        </div>

      </div>
      
    </ion-card-content>
  </ion-card>
</div>


<div style="height: 100%; display: flex; align-items: center; justify-content: center;" id="COOLDOWN" *ngIf="workoutSection === 'cooldown'">
  <ion-card>
    <ion-card-header>
      <ion-card-title>COOL DOWN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <iframe 
          width={{ytVideosCool[1].ThumbnailWidth}}
          height={{ytVideosCool[1].ThumbnailHeight}}
          [src]="ytVideosCool[1].URL | safe">
        </iframe>
      </ion-card>
    </ion-card-content>
  </ion-card>
</div>

<p>Next: {{nextComponent()}}</p>
<ion-button expand="block" color="dark" (click)="nextExercise()"> {{ buttonText }}</ion-button>

