<ion-header class="ion-no-border">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        <ion-img class="witfitlogo" src="../assets/logo/witfit-logo.png"></ion-img>
        <h4> LOG IN </h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
        </ion-item>
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note>
        </ion-item>
     
        <ion-button type="submit" expand="block" color="dark" [disabled]="!credentials.valid">LOGIN</ion-button>
        
        <!-- <p>
          <ion-text color="danger"> Forget password </ion-text>
        </p> -->
        <p>
          <ion-text color="secondary" (click)="register()"> I don't have an account  </ion-text>
        </p>
        
       
      </form>
    </ion-card-content>

  </ion-card>

</ion-content>
