<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workouts</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="dark" (click)="createWorkout()">
          <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Add content here -->
  <ion-card *ngFor="let workout of workouts">
    <div (click)="workoutAction(workout.id)">
      <ion-card-header>
        <ion-card-title>
          {{workout.wName}}
        </ion-card-title>
        <ion-card-subtitle>
          {{workout.wDescription}}
        </ion-card-subtitle>
      </ion-card-header>
      <div class="progress" *ngIf="workout.workoutStatus === 'in_progress'"> STILL IN PROGRESS </div>
      <div class="done" *ngIf="workout.workoutStatus === 'completed'"> WORKOUT COMPLETED </div>
      <div class="created" *ngIf="workout.workoutStatus === 'created'"> START WORKOUT </div>
    </div>
  </ion-card>
</ion-content>
