<ion-header [translucent]="true" class="ion-no-border"> 
  <ion-toolbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workouts</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="dark" (click)="createWorkout()">
          <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Add content here -->
    <ion-card *ngFor="let workout of workouts">
      <ion-card-header>
        <ion-card-title>
          This is my workout
        </ion-card-title>
        <ion-card-subtitle>
          Workout description 
        </ion-card-subtitle>
      </ion-card-header>
      <div class="progress"> STILL IN PROGRESS </div>
    </ion-card>
</ion-content>

