ion-card-title{
    font-size:15px;
    text-transform: uppercase;
}
ion-card-header{
    width:60%;
}
div.progress{
    color: var(--ion-color-success);
    font-weight: 600;
}
div.done{
    color: var(--ion-color-medium);
    font-weight: 600;
}

div.created{
    color: var(--ion-color-secondary);
    font-weight: 600;
}

ion-card div{
    display:flex;
    align-items: center;
}