ion-card-title{
    font-size:13px;
    text-transform: uppercase;
}
ion-card-subtitle{
    font-size:11px;
}

ion-card-header{
    width:60%;
}
div.progress, div.done, div.created{
    font-size:11px;
    text-align:center;
    margin-right:5px;
    
}

div.progress{
    color: var(--ion-color-success);
    font-weight: 600;
}
div.done{
    color: var(--ion-color-medium);
    font-weight: 600;
    flex-direction: column;
}

div.done span{
    text-transform: uppercase;
}

div.created{
    color: var(--ion-color-secondary);
    font-weight: 600;
}

ion-card div{
    display:flex;
    align-items: center;
}